<form class="ddf-form" [formGroup]="myForm">
  <fieldset *ngFor="let fieldset of model.fieldsets" class="ddf-form__fieldset">
    <legend class="ddf-form__legend" [innerHTML]="fieldset.legend"></legend>
    <ng-container *ngFor="let control of fieldset.controls" [ngSwitch]="control.type">

      <div *ngSwitchCase="'text'">
        <label [for]="control.key" [innerHTML]="control.label"></label>
        <input type="text" [placeholder]="control.placeholder" [formControlName]="control.key" [id]="control.key"
          (input)="control.events?.input && control.events?.input($event.currentTarget)"
          (focus)="control.events?.focus && control.events?.focus($event)"
          (blur)="control.events?.blur && control.events?.blur($event)">
      </div>
      <div *ngSwitchDefault>
        {{ control.type }}
        <span>Control type : {{ control.type }}. Please, consider develop it </span>
      </div>
    </ng-container>

  </fieldset>
</form>
